{{! src/email-templates/send-otp.hbs }}

<html>
  <head>
    <title>Mã xác thực OTP của bạn</title>
  </head>
  <body>
    <h1>Mã xác thực OTP của bạn</h1>
    <p>Chào bạn,</p>
    <p>Mã xác thực (OTP) của bạn là: <strong>{{code}}</strong></p>
    <p>Mã này sẽ hết hạn sau
      {{otpExpireIn}}. Vui lòng không chia sẻ mã này với bất kỳ ai.</p>
    <p>Trân trọng,</p>
    <p>Đội ngũ Medicine Chatbot</p>
  </body>
</html>